[Desktop Entry]
Type=Application
Name=Power Off the System
Name[tr]=Sistemi Kapat
Exec=python3 /usr/share/eta/eta-shutdown/src/ShutdownMenu.py
Icon=system-shutdown
Categories=System;
