[Desktop Entry]
Name=Eta Shutdown
Name[tr]=Eta Kapat
GenericName=Shutdown
GenericName[tr]=Kapat
Comment=Etap automatic shutdown settings
Comment[tr]=Etap otomatik kapatma ayarlari
Exec=pkexec /usr/share/eta/eta-shutdown/src/Main.py
Icon=eta-shutdown
Terminal=false
Type=Application
StartupNotify=true
